# Ignore version control system files and directories
.git
.gitignore

# Ignore Python bytecode files
__pycache__

# Ignore Django-specific files
*.sqlite3
*.log
*.pyc

# Ignore development and local environment files
.env
*.env
*.local

# Ignore any virtual environment directories
venv
env
virtualenv

# Ignore database dump files (if applicable)
*.dump

# Ignore Docker-related files and directories
Dockerfile
docker-compose.yml
.dockerignore

# Ignore Redis-specific files
dump.rdb

# Ignore any files or directories specific to your project
# Add project-specific exclusions here

# Ignore any other temporary or build files
*.swp
Thumbs.db
.DS_Store
